In [1]:
import os,sys,pandas as pd

In [4]:
currentdir = os.path.dirname(os.path.realpath('C:\\Users\\Workstation2\\Desktop\\vsc\\projects_misc\\fcc\\code'))
parentdir = os.path.dirname(currentdir)
sys.path.append(parentdir)

In [5]:
hw = pd.read_csv(os.path.join(currentdir,'datasets','Data8277.csv'))

In [6]:
hw.shape

(25000, 3)

In [7]:
hw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              25000 non-null  int64
 1    "Height(Inches)"  25000 non-null  float64
 2    "Weight(Pounds)"  25000 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 586.1 KB

In [8]:
hw.describe()

              Index   "Height(Inches)"   "Weight(Pounds)"
count  25000.000000       25000.000000       25000.000000
mean   12500.500000          67.993114         127.079421
std     7217.022701           1.901679          11.660898
min        1.000000          60.278360          78.014760
25%     6250.750000          66.704397         119.308675
50%    12500.500000          67.995700         127.157750
75%    18750.250000          69.272958         134.892850
max    25000.000000          75.152800         170.924000